#ignoring .vscode folder but we keep some files for debuging
/.vscode/chrome
/.vs/

package-lock.json
.DS_Store

# Code Coverage Folder
coverage/

#Node Modules
/node_modules
windows-client/build/client-win32-x64/chrome_100_percent.pak
windows-client/build/client-win32-x64/chrome_200_percent.pak
windows-client/build/client-win32-x64/client.exe
windows-client/build/client-win32-x64/d3dcompiler_47.dll
windows-client/build/client-win32-x64/dxcompiler.dll
windows-client/build/client-win32-x64/dxil.dll
windows-client/build/client-win32-x64/ffmpeg.dll
windows-client/build/client-win32-x64/icudtl.dat
windows-client/build/client-win32-x64/libEGL.dll
windows-client/build/client-win32-x64/libGLESv2.dll
windows-client/build/client-win32-x64/LICENSE
windows-client/build/client-win32-x64/LICENSES.chromium.html
windows-client/build/client-win32-x64/locales/af.pak
windows-client/build/client-win32-x64/locales/am.pak
windows-client/build/client-win32-x64/locales/ar.pak
windows-client/build/client-win32-x64/locales/bg.pak
windows-client/build/client-win32-x64/locales/bn.pak
windows-client/build/client-win32-x64/locales/ca.pak
windows-client/build/client-win32-x64/locales/cs.pak
windows-client/build/client-win32-x64/locales/da.pak
windows-client/build/client-win32-x64/locales/de.pak
windows-client/build/client-win32-x64/locales/el.pak
windows-client/build/client-win32-x64/locales/en-GB.pak
windows-client/build/client-win32-x64/locales/en-US.pak
windows-client/build/client-win32-x64/locales/es-419.pak
windows-client/build/client-win32-x64/locales/es.pak
windows-client/build/client-win32-x64/locales/et.pak
windows-client/build/client-win32-x64/locales/fa.pak
windows-client/build/client-win32-x64/locales/fi.pak
windows-client/build/client-win32-x64/locales/fil.pak
windows-client/build/client-win32-x64/locales/fr.pak
windows-client/build/client-win32-x64/locales/gu.pak
windows-client/build/client-win32-x64/locales/he.pak
windows-client/build/client-win32-x64/locales/hi.pak
windows-client/build/client-win32-x64/locales/hr.pak
windows-client/build/client-win32-x64/locales/hu.pak
windows-client/build/client-win32-x64/locales/id.pak
windows-client/build/client-win32-x64/locales/it.pak
windows-client/build/client-win32-x64/locales/ja.pak
windows-client/build/client-win32-x64/locales/kn.pak
windows-client/build/client-win32-x64/locales/ko.pak
windows-client/build/client-win32-x64/locales/lt.pak
windows-client/build/client-win32-x64/locales/lv.pak
windows-client/build/client-win32-x64/locales/ml.pak
windows-client/build/client-win32-x64/locales/mr.pak
windows-client/build/client-win32-x64/locales/ms.pak
windows-client/build/client-win32-x64/locales/nb.pak
windows-client/build/client-win32-x64/locales/nl.pak
windows-client/build/client-win32-x64/locales/pl.pak
windows-client/build/client-win32-x64/locales/pt-BR.pak
windows-client/build/client-win32-x64/locales/pt-PT.pak
windows-client/build/client-win32-x64/locales/ro.pak
windows-client/build/client-win32-x64/locales/ru.pak
windows-client/build/client-win32-x64/locales/sk.pak
windows-client/build/client-win32-x64/locales/sl.pak
windows-client/build/client-win32-x64/locales/sr.pak
windows-client/build/client-win32-x64/locales/sv.pak
windows-client/build/client-win32-x64/locales/sw.pak
windows-client/build/client-win32-x64/locales/ta.pak
windows-client/build/client-win32-x64/locales/te.pak
windows-client/build/client-win32-x64/locales/th.pak
windows-client/build/client-win32-x64/locales/tr.pak
windows-client/build/client-win32-x64/locales/uk.pak
windows-client/build/client-win32-x64/locales/ur.pak
windows-client/build/client-win32-x64/locales/vi.pak
windows-client/build/client-win32-x64/locales/zh-CN.pak
windows-client/build/client-win32-x64/locales/zh-TW.pak
windows-client/build/client-win32-x64/resources.pak
windows-client/build/client-win32-x64/resources/app.asar
windows-client/build/client-win32-x64/snapshot_blob.bin
windows-client/build/client-win32-x64/v8_context_snapshot.bin
windows-client/build/client-win32-x64/version
windows-client/build/client-win32-x64/vk_swiftshader.dll
windows-client/build/client-win32-x64/vk_swiftshader_icd.json
windows-client/build/client-win32-x64/vulkan-1.dll
/server/testResult
/server/assets/token
