.right-dialog {
    position: relative;
    margin: 2vh 2vw 5vh 59vw;
}

.board {
    margin-top: 2vh;
}

.card {
    background-color: white;
    border: solid;
    border-radius: 1vh;
    margin: 1vh;
    padding: 1vh;
    margin-top: 1vh;
}

th {
    width: 25vw;
}

.temp {
    margin-left: 5vw;
}

.empty-message {
    height: 40vh;
}
