.main-container {
    height: 40vh;
    width: 35vw;
    padding: 2vw;
    border: solid;
    border-radius: 3vh;
}

.card {
    background-color: white;
    border: solid;
    border-radius: 1vh;
    margin: 1vh;
    padding: 1vh;
}

tr {
    width: 16vw;
}

.divider {
    border: solid 1px;
    height: 3vh;
}

.result {
    margin-left: 6vw;
}

.time-result {
    margin-left: 5vw;
}
