.image-container {
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
}

.full-width {
    width: 100%;
    height: auto;
}

.full-height {
    height: 100%;
    width: auto;
}

.edit-button {
    position: relative;
    bottom: 6vh;
    right: -6vw;
    scale: 0.9;
}

.mat-error {
    margin-top: -5vh;
}
