<body>
    <header>
        <div>
            <button class="left important-button" routerLink="/connection">Connexion</button>
        </div>
        <div><img class="logo" src="./assets/pictures/logo.png" /></div>
        <div><p class="page-title">Récupération de mot de passe</p></div>
    </header>

    <div *ngIf="!isEmailSent && !isCodeValid" class="flex-column center">
        <form [formGroup]="passwordRecuperationForm">
            <mat-form-field appearance="fill">
                <mat-label>Adresse courriel</mat-label>
                <input matInput type="email" formControlName="email" />
                <mat-icon matSuffix>email</mat-icon>
                <mat-error *ngIf="passwordRecuperationForm.get('email')!.hasError('required')"> Entrée requise </mat-error>
                <mat-error
                    *ngIf="
                        passwordRecuperationForm.get('email')!.hasError('strictEmail') && !passwordRecuperationForm.get('email')!.hasError('required')
                    "
                >
                    Adresse courriel invalide
                </mat-error>
                <mat-error *ngIf="passwordRecuperationForm.get('email')!.hasError('emailNotFound')"
                    >Cette adresse courriel n'est pas associée à un compte</mat-error
                >
                <mat-error *ngIf="passwordRecuperationForm.get('email')!.hasError('error')"> Une erreur est survenue </mat-error>
                <mat-error *ngIf="passwordRecuperationForm.get('email')!.hasError('serverError')"> Une erreur interne est survenue </mat-error>
            </mat-form-field>
        </form>
        <button (click)="verifyEmail()">Envoyer</button>
    </div>

    <div *ngIf="isEmailSent && !isCodeValid" class="flex-column center">
        <form [formGroup]="codeValidationForm">
            <mat-form-field appearance="fill">
                <mat-label>Code de vérification</mat-label>
                <input matInput type="number" formControlName="code" />
                <mat-error *ngIf="codeValidationForm.get('code')!.hasError('required')"> Entrée requise </mat-error>
                <mat-error *ngIf="codeValidationForm.get('code')!.hasError('invalidCode')"> Code invalide </mat-error>
            </mat-form-field>
        </form>
        <button (click)="verifyCode()">Valider</button>
        <button (click)="resendEmail()">Renvoyer un email</button>
    </div>

    <div *ngIf="isCodeValid">
        <form [formGroup]="passwordResetForm" class="flex-column center">
            <mat-form-field appearance="fill">
                <mat-label>Nouveau mot de passe</mat-label>
                <input matInput type="password" formControlName="password" />
                <mat-error *ngIf="passwordResetForm.get('password')!.hasError('required')"> Entrée requise </mat-error>
                <mat-error *ngIf="passwordResetForm.get('password')!.hasError('serverError')">
                    Une erreur est survenue, veuillez réessayer
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Confirmer le nouveau mot de passe</mat-label>
                <input matInput type="password" formControlName="passwordConf" />
                <mat-error *ngIf="passwordResetForm.get('passwordConf')!.hasError('required')"> Entrée requise </mat-error>
                <mat-error *ngIf="passwordResetForm.get('passwordConf')!.hasError('passwordMismatch')">
                    Les mots de passe ne correspondent pas
                </mat-error>
            </mat-form-field>
            <button (click)="updatePassword()">Confirmer</button>
        </form>
    </div>
</body>
